

/* module footer navigation */
.footer-nav {
  > .title {
    color: $gray-dark;
    font-size: $footer-title-font-size;
    font-weight: $footer-title-font-weight;
    line-height: $footer-title-line-height;
  }

  > .link {
    font-size: $footer-link-font-size;
    line-height: $footer-link-line-height;
    @media (max-width: 575px) { font-size: $footer-link-font-size + .2; }
  }
}
